/* .features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
} */

.featureSvg {
  height: 100px;
  width: 100px;
}

.toolingContainer {
  background-color: #1b1b1d;
  width: 100%;
  color: #f5f6f7; 
  padding: 20px 0; 
  text-align: center; 
} 

.toolingItem {
  position: relative;
}

@media screen and (max-width: 996px) {
  .toolingContainer {
    padding: 2rem;
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 110%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #2b3137; 
  border: 2px solid #45ba4b;
  color: #fff; 
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 800;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolingItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

