.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.toolingContainer {
  background: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  width: 100%;
  padding: 20px 0; 
  text-align: center; 
} 

.toolingItem {
  position: relative;
}

@media screen and (max-width: 996px) {
  .toolingContainer {
    padding: 2rem;
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 110%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--ifm-background-surface-color);
  border: 2px solid var(--ifm-color-primary);
  color: var(--ifm-font-color-base);
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 800;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolingItem:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.toolingGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background: var(--ifm-background-color);
}

